.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}
/* a{
    color:mistyrose;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.nav-item{
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1em;
    font-weight: 200;
}
.nav-item :hover,
.nav-item :focus{
    font-weight:500;
    color:mistyrose;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */
  nav ul li a {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    /* font-weight: 100; */
    color: mistyrose;
}  
  nav ul li.active{
      font-weight:00;
    color:mistyrose;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  }
  nav ul li.active a {
    color:mistyrose;
    font-weight: 500;;
 }
  nav ul li a:hover{
    font-weight:500;
    color:mistyrose;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } 
 
body{
    background-image: url('../img/logos/co.jpeg');
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.8);
    background-blend-mode: darken;
    background-attachment: fixed;
}
.link_style,
.link_style:hover{
    font-size: 1.4em;
    text-decoration: none;
    color:rgb(245, 133, 4);
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
    
    }
.fa{
    font-family: "FontAwesome" !important;
}
.btn.btn-social-icon {
    width: 50px;
    height: 50px;
    padding: 0
}



.btn.btn-rounded {
    border-radius: 50px
}

.btn-facebook {
    background: #3b579d;
    color: #ffffff;
}

.btn-gmail {
    background: #e52d27;
    color: #ffffff
}

.btn-twitter {
    background: #2caae1;
    color: #ffffff !important
}

.btn-github {
    background: #303030;
    color: #ffffff
}

.btn-linkedin {
    background: #0177b5;
    color: #ffffff
}

.btn-instagram {
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);     
    color: #ffffff
}
.btn-whatsapp {
    background: #4FCE5D;
    color: #ffffff
}
.btn-telegram {
    background: #32a7d9;
    color: #ffffff
}

#mylogo
{
    font-size:1.4em;
    font-family: consolas;
    font-weight: bolder;
    background-image: linear-gradient( 103.3deg,  rgba(252,225,208,1) 30%, rgba(255,173,214,1) 55.7%, rgba(162,186,245,1) 81.8% );
    /* background-color: #aee1f9;
    background-image :linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
    -webkit-text-fill-color: transparent; */
        background-color: #ccff99;
    background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
}
.btn-facebook:hover,
.btn-facebook:focus {
    background: #2d4278;
    color: #ffffff
}

.btn-gmail:hover,
.btn-gmail:focus {
    background: #c21d17;
    color: #ffffff
}

.btn-twitter:hover,
.btn-twitter:focus {
    background: #1b8dbf;
    color: #ffffff
}

.btn-github:hover,
.btn-github:focus {
    background: #272727;
    color: #ffffff
}

.btn-linkedin:hover,
.btn-linkedin:focus {
    background: #015682;
    color: #ffffff
}

.btn-instagram:hover,
.btn-instagram:focus {
    background: #f09433 40%; 
    background: -moz-linear-gradient(45deg, #cc2366 0%, #bc1888 25%, #dc2743 50%, #f09433 75%, #e6683c 100%); 
    background: -webkit-linear-gradient(45deg,#cc2366 0%,#bc1888 25% ,#dc2743 50%,#f09433 75%,#e6683c 100%); 
    background: linear-gradient(45deg,#cc2366 0%,#bc1888 25%,#dc2743 50%, #f09433 75%,#e6683c 100%);    
    color:white;

}
.btn-whatsapp:hover,
.btn-whatsapp:focus {
    background: #25d366;
    color: #ffffff;
}
.btn-telegram:hover,
.btn-telegram:focus {
    background: #1c92d2;  
    background-color: linear-gradient(to left, #5fb8e7, #1c92d2); 
    color: #ffffff
}
.title{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:2.7em;
    font-weight: bold;
    margin-top: 20px;
}
.gradient-text {
    background: #43C6AC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    background-clip: text;
    -webkit-text-fill-color: transparent;
        background-color: #ccff99;
    background-size: 100%;
    letter-spacing: 2px;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
}
.txt{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    margin-left: 10%;
    margin-right: 10%;
}
.gap{
    margin-top: 200px;
    padding-top: 50px;
}
#myphoto {
    display: block;
    margin: 0 auto;
    transition: box-shadow 0.1s, transform 0.1s;
  }
#myphoto:hover {
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #myname{
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      letter-spacing: normal;   
  } 
 #btn-style{
     background:white;
     color:black;
     vertical-align:middle;
 }

 
  /* background: #C33764;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #1D2671, #C33764);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #1D2671, #C33764); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ */
